# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/
dist/

# Poetry
.venv/

# Docker
*.log

# IDE
.vscode/
.idea/
*.swp

# Data
datasets/*.csv
datasets/*.json
*.db